.cd-perio-text {
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-family: "Noto Sans S Chinese Light","Noto Sans S Chinese","Microsoft YaHei","STHeiti","STXihei","SimHei","Droid Sans","chinese";
}
.cd-perio-text p {
	margin-bottom: 0;
	text-indent: 2em;
	padding-top: 0.5em;
}
.cd-perio-text img {
	width: 100%;
}
.cd-perio-author {
	padding-right: 12%;
}
@media only screen and (min-width: 768px) {
	.cd-perio-back {
		background-color: #f4f8ea;
	}
	.cd-perio {
		margin: 0 auto;
		max-width: 720px;
		min-height: 80vh;
	}
}
.cd-perio-text .no-text-indent{
  text-indent: 0;
}
.cd-perio-text .halflinemargin {
  margin-bottom: 0.5em;
}