@font-face { 
  font-family: "chinese";
  src: url("/fonts/NotoSansHans-Regular.otf");
} 

.chinese, .chine {
  font-family: "Noto Sans S Chinese Light","Noto Sans S Chinese","Microsoft YaHei","STHeiti","STXihei","SimHei","Droid Sans","chinese";
}

.arc-indent {
  font-family: "Noto Sans S Chinese Light","Noto Sans S Chinese","Microsoft YaHei","STHeiti","STXihei","SimHei","Droid Sans","chinese";
  text-indent: 2em;
}

.cd-main-content {
  background: #fafafa;
  /*min-height: 100vh;*/
  z-index: 2;
}
.cd-cont {
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 1170px) {
  .cd-cont{
    padding-left: 4em;
    padding-right: 4em;
  }
}
.non-margin-bottom {
  margin-bottom: 0;
}
.non-padding-left{
  padding-left: 0;
}
.non-padding{
  padding: 0;
}
.cd-head-fix{
  min-height: 0;
}
.unvisible{
  visibility: hidden;
}
.cd-qv-fix{
  min-height: 0;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.lh16{
  line-height: 16px;
}
.checkbox-label{
  display: inline;
}
.container2{
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (min-width: 1170px) {
  .container2{
    padding-left: 2em;
    padding-right: 2em;
  }
}
.navlab{
  color: #FFFFFF;
}
@media only screen and (min-width: 1170px) {
  .navlab{
    color: #003f58;
  }
}
.cd-cover {
  background: #FFFFFF;
  padding: 2em;
  padding-top: 8em;
  padding-bottom: 4em;
}
.cd-cover .cov-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 5em;
}
.cd-cover .cov-author {
  text-align: right;
  margin-top: 0.5em;
  margin-right: 1.5em;
  margin-bottom: 0;
}
.black-font {
  color: #000000;
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav .cd-secondary-nav ul {
    padding-left: 2px;
  }
}

.footer {
  background: #FFFFFF;
  padding: 2em;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px; 
}

.paddingright2em {
  padding-right: 2em;
}

.cd-overlay {
  background-color: rgba(32, 32, 32, 0.7);
}
.cd-primary-nav .cd-secondary-nav a:hover {
  color: #003f58;
}
.cd-primary-nav .cd-secondary-nav > li > a {
  color: #003f58;
}
.cd-primary-nav > li > a.selected {
  color: #003f58;
  box-shadow: inset 0 -2px 0 rgba(0, 63, 88, 0.6);
}
.cd-primary-nav > li > a:hover {
  color: #009bd7;
}
.cd-primary-nav > li > a.selected {
  color: #003f58;
  box-shadow: inset 0 -2px 0 #003f58;
}
.cd-primary-nav .see-all a {
  color: #003f58;
}
.cd-primary-nav .cd-nav-gallery .cd-nav-item h3 {
  color: #003f58;
  font-size: 1.25em;
  text-align: center;
}